@import "tailwindcss";

@theme {
    --color-primary: #8ff5ff;
    --color-primary-container: #00eefc;

    --color-secondary: #d674ff;
    --color-secondary-container: #9800d0;

    --color-tertiary: #ff6e81;

    --color-background: #0e0e0e;
    --color-surface: #0e0e0e;
    --color-surface-container: #1a1919;
    --color-surface-variant: #262626;

    --color-on-surface: #ffffff;
    --color-on-surface-variant: #adaaaa;

    --color-outline: #777575;
    --color-error: #ff716c;

    --radius-default: 0px;
    --radius-lg: 0px;
    --radius-xl: 0px;
    --radius-full: 9999px;

    --font-body: "Inter", sans-serif;
    --font-headline: "Space Grotesk", sans-serif;
    --font-display: "Orbitron", sans-serif;
}